body {
  max-width: 800px;
  background-color: beige;
  margin: 0 auto;
}
.notes {
  margin-top: 200px;
  padding: 50px;
  width: 90%;
  background-color: lightblue;
}
.todo-list {
  border: 2px solid black;
  border-radius: 20px;
}
.todo-article {
  max-width: 95%;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
}
